@import "animation.css";

html, body{
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    perspective: 300px;
    background: blue;
}

.wrapper{
    width: 100vw;
    height: 100vh;  
	box-sizing: border-box;  
	perspective: 300px;

 }
 
.wrapper div {
    transform-style: preserve-3d;
 
}

.container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(12, calc(100vw/12));
    grid-template-rows: repeat(8, calc(100vh/8));
   }

.MAIN{
    grid-column: 2 / 4;
    grid-row: 4 / 5;
   }
   

.CONTACS{
    grid-column: 9 / 11;
    grid-row: 4;
 }

.PORTFOLIO {
    grid-column: 7 / 9;
    grid-row: 6;
 }


.PHOTOGALLERY {
    grid-column: 5;
    grid-row: 3 / 6;
    display: flex;
}

.PHOTOGALLERY span {
     transform: rotate(-90deg);
      
}

.right_bord  {
    box-sizing: border-box;
    width: inherit;
    height: inherit;
    position: absolute;
    transform-origin: right center;
    transform: rotateY(-90deg);
    background-color: darkblue;
 }
 
  .left_bord  {
    box-sizing: border-box;
    width: inherit;
    height: inherit;
    position: absolute;
    transform-origin: left center;
    transform: rotateY(90deg);
    background-color: darkblue;
 }
 
  .top_bord  {
    box-sizing: border-box;
    width: inherit;
    height: inherit;
    position: absolute;
    transform-origin: center top;
    transform: rotateX(-90deg);
    background-color: darkblue;
 }

 
.MAIN:hover, .PHOTOGALLERY:hover, .CONTACS:hover, .PORTFOLIO:hover {
    cursor: pointer;
    animation-name: color;
    animation-duration: 4s, 7s;
    box-shadow: 18px -19px 59px -7px rgba(0,0,0,0.35);
    transform: translate3d(0, 0, 20px);
    
    transition: 1s;
	width: 100%;
    height: 100%;
 }
 

.item {
    border: 1px solid #171717;
    font-size: 16px;
    animation-timing-function: cubic-bezier(.2,1.53,.53,-0.7);
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-direction: normal;
    display: flex;
    align-items: center;
    justify-content: center;
  }



 
.item1, .MAIN {
	animation: progress 6s infinite alternate-reverse;
	animation-timing-function: linear;

}

.item2, .PHOTOGALLERY {
	animation: progress 4s infinite alternate;
	animation-timing-function: ease-in;
}

.item3, .CONTACS {
	animation: progress 2s infinite alternate-reverse;
	animation-timing-function: linear;
}

.item4, .PORTFOLIO {
	animation: progress 1s infinite alternate;
	animation-timing-function: ease-in;
}
 


 

